* {   
    box-sizing: border-box;
    }
    
h1 {
  font-size: 40px;
}
.jumbotron {
    text-align: center;
    padding: 0px;
}

.container-1 .col-sm-4:nth-child(1) {
    text-align: center;   
    padding: 110px;
}
.container-1 .col-sm-4:nth-child(2) {
    text-align: center; 
    font-size: medium;  
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    
}
.container-1 .col-sm-4:nth-child(3) {
    text-align: center;   
    padding: 100px;
}
.btn {
    background-color: #000000;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .btn-lg {
    font-size: 20px;
    padding: 12px 24px;
  }
.container-2 .col-sm-4:nth-child(1) {
    text-align: center;   
    padding: 0px;
}
.container-2 .col-sm-4:nth-child(2) {
    text-align: center;   
    padding: 0px;
}
.container-2 .col-sm-4:nth-child(3) {
    text-align: center;   
    padding: 0px;
}
.image-container {
    position: relative;
  }
  .image-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.685);
    z-index: 1;
  }
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
  }
  h2 a {
    color: white;
  }
  h2 a:hover {
    color: white;
  }
  .reviews {
    text-align: center;
    padding-top: 20px;
  }
  .customer-image {
    float: left;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 20px;
    width: 120px;
    height: 120px;
    
  }
  .customer-review {
    text-align: justify;
    padding-left: 120px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: small;
    
  }
  
  .footer-distributed {
    background-color: #7d6b63;
    width: 100%;
    text-align: left;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .footer-distributed .footer-left p {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 20px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }